<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	   xsi:schemaLocation="http://www.springframework.org/schema/beans
        https://www.springframework.org/schema/beans/spring-beans.xsd">

	<bean id="welCome" class="com.gary.service.impl.WelComeImpl">
	</bean>

	<bean id = "user1" class="com.gary.entity.User" scope="singleton" lazy-init="true" primary="true"/>

	<bean id = "user2" class="com.gary.entity.Factory.StaticFactory" scope="singleton" factory-method="getUser" />

	<bean id = "factoryBean" class="com.gary.entity.Factory.UserFactory"/>
	<bean id = "user3" factory-bean="factoryBean" factory-method="getUser" scope="singleton"/>

	<bean id ="userfactoryBean" class="com.gary.entity.Factory.UserFactoryBean"/>

</beans>